html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 80%;
    float: right;
}

nav {
    background-color: #CCCCCC;
    height: 100%;
}

#pageTitle{
    margin: 0 10px;
}

#pageTitle h2 {
    margin: 0;
}

#search {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #000000;
    width: 18%;
    height: 30px;
    font-size: 15px;
    margin: 10px;
    padding-left: 5px;
}

li {
    margin: 10px 5px;
    list-style-type: none;
    border-bottom: 1px black solid;
    width: 16%;
}

li :hover {
    cursor: pointer;
}

/*#list-view {
    position: fixed;
    height: 27%;
    overflow: auto;
    top: 85px;
    left: 5%;
    width: 20%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 15px;
}*/

#error {
    position: fixed;
    top: 350px;
    left: 5%;
    width: 20%;
}

#iWindow h3 {
    color: red;
    margin-bottom: 0;
}

#iWindow h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

#iWindow label {
    font-weight: bold;
    margin-top: 0;
}
