html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#pageTitle{
    position: fixed;
    top: 30px;
    left: 2%;
    width: 350px;
    color: red;
}

#search {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #0000003d;
    width: 350px;
    height: 30px;
    font-size: 15px;
    position: fixed;
    left: 2%;
    top: 80px;
}

#list-view {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #0000003d;
    background-color: #ffffffa8;
    position: fixed;
    height: 80%;
    overflow: auto;
    top: 113px;
    left: 2%;
    width: 350px;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

#list-view :hover {
    cursor: pointer;
}

li {
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 5px;
}

#error {
    position: fixed;
    top: 350px;
    left: 43%;
    width: 240px;
    background-color: white;
    color: red;
    padding: 10px;
}

#iWindow h3 {
    color: red;
    margin-bottom: 0;
}

#iWindow h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

#iWindow label {
    font-weight: bold;
    margin-top: 0;
}
